body {
  font-family: Helvetica, Arial;
  margin: 0px;
  padding: 0px; }

#topbar {
  width: 100%;
  background-color: #ccd1db;
  margin: 0px;
  padding: 0px;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 200px;
  z-index: -1; }

#keyboardContainer {
  position: absolute;
  top: 209px; }

.contentContainer {
  margin-left: 180px; }

.keyboardRow {
  display: block;
  clear: both;
  position: relative; }

.keyboardRow#row2 {
  left: 18px; }

.keyboardRow#row3 {
  left: 72px; }

.keyboardKey {
  float: left;
  margin: 4.5px;
  width: 90px;
  height: 90px;
  background-color: #ccd1db;
  border-color: #60769c;
  border-radius: 6.3px;
  -moz-border-radius: 6.3px;
  -webkit-border-radius: 6.3px;
  border-style: solid;
  border-width: 1pt; }
  .keyboardKey .keyLetter {
    position: relative;
    font-weight: bold;
    left: 3px;
    top: 3px; }