body {
  font-family: Helvetica, Arial; }

.intro p {
  font-size: 14pt;
  text-align: center; }

.keyboardContainer {
  position: relative;
  width: 1016.66667px;
  /* height: 200px; */
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px; }
  .keyboardContainer .keyboardRow {
    display: block;
    clear: both;
    position: relative; }
  .keyboardContainer .keyboardRow#row2 {
    left: 18px; }
  .keyboardContainer .keyboardRow#row3 {
    left: 72px; }
  .keyboardContainer .keyboardKey {
    float: left;
    margin: 4.5px;
    width: 90px;
    height: 90px;
    background-color: #ccd1db;
    border-color: #60769c;
    border-radius: 6.3px;
    -moz-border-radius: 6.3px;
    -webkit-border-radius: 6.3px;
    border-style: solid;
    border-width: 1pt; }
    .keyboardContainer .keyboardKey .keyLetter {
      position: relative;
      font-weight: bold;
      left: 3px;
      top: 3px; }