$keySize: 90px;
$keyMargin: $keySize * 0.05;
$faintColor: #CCD1DB;
$borderColor: #60769C;
$borderWidth: 1pt;

@mixin roundedCorners {
  $radius: $keySize * 0.07;

  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  
  border-style: solid;
  border-width: $borderWidth;
}

body {
	font-family: Helvetica, Arial;
}

h1 {
}

.intro p {
	font-size: 14pt;
	text-align: center;
}

.keyboardContainer {
    position: relative;
    width: 10*$keySize + 20*$keyMargin + 20*$borderWidth;
    /* height: 200px; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
		
	.keyboardRow {
		display: block;
		clear: both;
		position: relative;
	}
	.keyboardRow#row2 {
		left: 18px;
	}
	.keyboardRow#row3 {
		left: $keySize * 0.8;
	}

	.keyboardKey {
		float: left;
		margin: $keyMargin;
		width: $keySize;
		height: $keySize;
		background-color: $faintColor;
		
		border-color: $borderColor;
		@include roundedCorners;
		
		.keyLetter {
			position: relative;
			font-weight: bold;
			left: 3px;
			top: 3px;
		}
	}
}
