<!DOCTYPE html>
<html>

<head>
	<link href = "{{STATIC_URL}}index.css" rel = "stylesheet" type="text/css" />
	<title>Debate mashup woo hoo!</title>
  <script src="{{STATIC_URL}}jquery-1.8.2.min.js"></script>
  <script src="{{STATIC_URL}}drumpad.js"></script>

</head>

<body>

<audio id="sound-a" src="{{STATIC_URL}}samples/bingos_left_change.mp3"></audio>
<audio id="sound-s" src="{{STATIC_URL}}samples/bingos_left_change.mp3"></audio>
<!--  The backend should populate these with a bunch of samples... -->

<h1>Debate mashup woo hoo!</h1>

<div class="intro">
  <p>This is a cool presidential debate mashup app thing.  Hit keys on
  your keyboard to play sounds!</p>
  <h3>Use asdf to play awesome sounds!!</h3>
</div>

<div class="imageContainer">
  <img style="top: 0; left: 0; width: 100px; height: 100px" src="{{STATIC_URL}}button.jpg"></img>
  <img style="top: 0; left: 100px; width: 100px; height: 100px" src="{{STATIC_URL}}button.jpg"></img>
  <img style="top: 0; left: 200px; width: 100px; height: 100px" src="{{STATIC_URL}}button.jpg"></img>
  <img style="top: 0; left: 300px; width: 100px; height: 100px" src="{{STATIC_URL}}button.jpg"></img>
  <img style="top: 0; left: 425px; width: 100px; height: 100px" src="{{STATIC_URL}}button.jpg"></img>
  <img style="top: 0; left: 525px; width: 100px; height: 100px" src="{{STATIC_URL}}button.jpg"></img>
  <img style="top: 0; left: 625px; width: 100px; height: 100px" src="{{STATIC_URL}}button.jpg"></img>
  <img style="top: 0; left: 725px; width: 100px; height: 100px" src="{{STATIC_URL}}button.jpg"></img>
  <img style="top: 100px; left: 0px; width: 100px; height: 100px" src="{{STATIC_URL}}button.jpg"></img>
  <img style="top: 100px; left: 100px; width: 100px; height: 100px" src="{{STATIC_URL}}button.jpg"></img>
  <img style="top: 100px; left: 200px; width: 100px; height: 100px" src="{{STATIC_URL}}button.jpg"></img>
  <img style="top: 100px; left: 300px; width: 100px; height: 100px" src="{{STATIC_URL}}button.jpg"></img>
  <img style="top: 100px; left: 425px; width: 100px; height: 100px" src="{{STATIC_URL}}button.jpg"></img>
  <img style="top: 100px; left: 525px; width: 100px; height: 100px" src="{{STATIC_URL}}button.jpg"></img>
  <img style="top: 100px; left: 625px; width: 100px; height: 100px" src="{{STATIC_URL}}button.jpg"></img>
  <img style="top: 100px; left: 725px; width: 100px; height: 100px" src="{{STATIC_URL}}button.jpg"></img>
  <div style="top: 0px; left: 45px;"><p>Q</p></div>
  <div style="top: 20px; left: 25px;"><p>"Binders<br>full of<br>women"</p></div>
</div>

</body>
</html>


